@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Space+Grotesk:wght@300;500;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #293A58;
  --color-background: #0D0C0F;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-white antialiased font-sans font-normal overflow-x-hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display uppercase tracking-tighter font-bold;
  }
}

.clip-path-slant {
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}
